!!! 5
%html
  %head
    %title 
      Capybara Site
    %link{ href: 'css/style.sass', rel: 'stylesheet'}
  %body
    .container
      %nav
        %ul
          %li Home
          %li Login
      %section
        %p This is where we'll put some stuff

      %footer
        Copyright 2014
